.statsHeader {
  font-size: 1rem;
  margin-bottom: 0;
  align-items: center;
  display: flex;

  > span.online {
    > svg {
      margin-right: 0.2rem;
    }

    .pulse {
      position: absolute;
      animation: pulse 2s infinite;
    }

    line-height: normal;
    margin-left: 0.5rem;
    transform: translateY(-0.08rem);
    display: inline-flex;
    gap: 0.2rem;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 500;
  }
}

.settingsButton {
  display: inline-flex;
  vertical-align: middle;
  color: var(--pico-muted-color);
}

.settingsButton:hover {
  color: var(--pico-color);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
