form.password {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  h2 {
    margin-bottom: 0;
  }

  label,
  input {
    margin-bottom: 0;
  }
}

.passwordActions {
  display: flex;
  justify-content: flex-end;
}

.passwordActions button {
  width: fit-content;
}

.header {
  display: flex;
  background-color: var(--pico-background-color);
  border-radius: var(--pico-border-radius);
  padding: 1rem;
  align-items: center;
  gap: 0.5rem;

  h2 {
    font-size: 1.3rem;
    margin: 0;
  }

  p {
    margin: 0;
    font-size: 0.9rem;
    color: var(--pico-muted-color);
  }
}

.container {
  flex: 1;
  article {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  h2 {
    font-size: 1.2rem;
  }
}
