---
import Settings from "../../layouts/Settings.astro";
import { CreateEntity } from "../../components/settings/dialogs";
import { EntitiesTable } from "../../components/settings/tables";
---

<Settings title="Entities">
  <nav>
    <h1>Entities</h1>
    <CreateEntity client:only="react" />
  </nav>
  <EntitiesTable client:only="react" />
</Settings>
