---
import { CreateEntity } from "../../components/settings/dialogs";
import Settings from "../../layouts/Settings.astro";
---

<Settings title="Entities">
  <nav>
    <h1>Entities</h1>
    <CreateEntity client:load />
  </nav>
</Settings>
