---
import { CreateProject } from "../../components/modals";
import Settings from "../../layouts/Settings.astro";
---

<Settings title="Projects">
  <nav>
    <h1>Projects</h1>
    <CreateProject client:load />
  </nav>
</Settings>
