---
import { CreateProject, ProjectsTable } from "@/components/settings/projects";
import Settings from "@/layouts/settings.astro";
---

<Settings title="Projects">
  <nav>
    <h1>Projects</h1>
    <CreateProject client:only="react" />
  </nav>
  <p class="description">
    Projects group one or more entities for dashboard reporting and access
    control.
  </p>
  <ProjectsTable client:load />
</Settings>

<style>
  .description {
    max-width: 46rem;
    margin-bottom: 1rem;
    color: var(--pico-muted-color);
  }
</style>
