---
import Settings from "../../layouts/Settings.astro";
import { CreateProject } from "../../components/settings/dialogs";
import { ProjectsTable } from "../../components/settings/tables";
---

<Settings title="Projects">
  <nav>
    <h1>Projects</h1>
    <CreateProject client:only="react" />
  </nav>
  <ProjectsTable client:only="react" />
</Settings>
