---
import { CreateUser, UsersTable } from "@/components/settings/users";
import Settings from "@/layouts/settings.astro";
---

<Settings title="Users">
  <nav>
    <h1>Users</h1>
    <CreateUser client:only="react" />
  </nav>
  <UsersTable client:load />
</Settings>
