---
import { CreateUser } from "../../components/settings/dialogs";
import { UsersTable } from "../../components/settings/tables";
import Settings from "../../layouts/Settings.astro";
---

<Settings title="Users">
  <nav>
    <h1>Users</h1>
    <CreateUser client:only="react" />
  </nav>
  <UsersTable client:only="react" />
</Settings>
