---
import { CreateUser } from "../../components/modals";
import Settings from "../../layouts/Settings.astro";
---

<Settings title="Users">
  <nav>
    <h1>Users</h1>
    <CreateUser client:load />
  </nav>
</Settings>
