---
import "@fontsource-variable/figtree";
import "../global.css";

import { ViewTransitions } from "astro:transitions";
import { SiGithub } from "@icons-pack/react-simple-icons";

type Props = { title: string; hideFooter?: boolean };
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <ViewTransitions />
    <title>{Astro.props.title}</title>
  </head>
  <body>
    <slot />
    {
      !Astro.props.hideFooter && (
        <footer class="container-fluid footer">
          <small>
            <a
              href="https://github.com/explodingcamera/liwan"
              target="_blank"
              class="secondary icon-link"
            >
              <SiGithub size=".8rem" />
              <span>Liwan - Lightweight Analytics</span>
            </a>
            &nbsp;| Made by&nbsp;
            <a
              class="secondary"
              target="_blank"
              href="https://henrygressmann.de"
            >
              Henry Gressmann
            </a>
          </small>
        </footer>
      )
    }
    <style>
      footer {
        max-width: 60rem;
        padding: 1rem 2rem;
        small {
          display: inline-flex;
          flex-wrap: wrap;
          align-items: center;
          font-size: 14px;
        }

        a.icon-link {
          text-decoration: none;
          span {
            text-decoration: underline;
          }
          display: inline-flex;
          align-items: end;
          justify-content: center;
          gap: 0.2rem;
        }
      }
    </style>
  </body>
</html>
