---
import "@fontsource-variable/outfit";
import "../global.css";
import ThemeSwitcher from "../components/ThemeSwitcher.astro";

import { ClientRouter } from "astro:transitions";

type Props = { title: string; hideFooter?: boolean };
---

<html lang="en" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex" />
    <meta name="description" content="Liwan Web Analytics Dashboard" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <ClientRouter />
    <title>{Astro.props.title} | Liwan</title>
  </head>
  <body>
    <slot />
    {
      !Astro.props.hideFooter && (
        <footer class="container-fluid footer">
          <ThemeSwitcher />
          <small>
            Powered by&nbsp;
            <a href="https://liwan.dev" target="_blank" class="secondary">
              <span>Liwan.dev</span>
            </a>
            &nbsp;|&nbsp;
            <a class="secondary" href="/attributions">
              Open Source Licenses
            </a>
          </small>
        </footer>
      )
    }
    <style>
      footer {
        max-width: 60rem;
        padding: 1rem 2rem;
        margin-bottom: .7rem;
        display: flex;
        gap: .5rem;

        small {
          display: inline-flex;
          flex-wrap: wrap;
          align-items: center;
          font-size: 14px;
        }

        a.icon-link {
          text-decoration: none;
          span {
            text-decoration: underline;
          }
          display: inline-flex;
          align-items: end;
          justify-content: center;
          gap: 0.2rem;
        }
      }
    </style>
  </body>
</html>
