---
import Base from "./Base.astro";
import ThemeSwitcher from "../components/ThemeSwitcher.astro";
import { LoginButton } from "../components/userInfo.tsx";

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<Base {title}>
  <header class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="/" class="contrast logo">
            <img src="/favicon.svg" alt="liwan logo" width="24" height="24" />
            <strong>Liwan</strong></a
          >
        </li>
      </ul>
      <ul>
        <li><LoginButton client:only="react" /></li>
        <li class="theme">
          <ThemeSwitcher />
        </li>
      </ul>
    </nav>
  </header>
  <main class="container-fluid">
    <slot />
  </main>
</Base>

<style>
  main {
    flex: 1;
  }

  nav {
    height: 3rem;
  }

  .theme {
    padding-right: 0.5rem;
    display: flex;
    justify-content: ce;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }

  main,
  header {
    max-width: 60rem;
    padding: 1rem 2rem;
  }

  header {
    padding-top: 1rem;
    padding-bottom: 0;
  }
</style>
