.graph {
  height: 100%;
  background-color: transparent;

  :global(.tick) {
    pointer-events: none;
  }
}

.graphContainer {
  flex: 1;
  width: 100%;
  height: 100%;
  position: relative;

  .updatingOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    background-color: var(--pico-card-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeInOverlay 0.2s ease forwards 0.3s;

    &[data-no-delay="true"] {
      animation-delay: 0s;
    }
  }
}

@keyframes fadeInOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

.tooltip {
  background-color: var(--pico-secondary-background);
  padding: 0.4rem 0.5rem;
  border-radius: 0.4rem;
  min-width: 7rem;

  h2 {
    margin-bottom: 0.3rem;
    font-size: 1rem;
    color: var(--pico-contrast);
  }

  h3 {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    margin: 0;
    color: var(--pico-contrast);
    font-weight: 800;
    align-items: center;

    span {
      color: var(--pico-h3-color);
      padding: 0.1rem 0.2rem;
      font-weight: 500;
      border-radius: 0.2rem;
    }
  }
}
