.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    width: 100%;
    &:first-of-type {
      margin-bottom: 1rem;
    }
  }

  input {
    margin-bottom: 0;
  }
}
