.card {
  padding: 1rem;
  padding-bottom: 0.6rem;
  border-radius: var(--pico-border-radius);
  box-shadow: var(--pico-card-box-shadow);
  background-color: var(--card-background);
  display: flex;
  flex-direction: column;
}

.tabs {
  .tabsList {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .tabsList > button {
    all: unset;
    cursor: pointer;

    &[aria-selected="true"] {
      text-decoration: underline;
      font-weight: 600;
    }

    &:last-of-type {
      margin-right: auto;
    }
  }

  .tabsContent {
    display: flex;
    flex-direction: column;
  }
}

.percentage {
  flex: 1;
  position: relative;
  z-index: 1;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;

  &:hover {
    &::after {
      opacity: 0.3;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: var(--percentage);
    height: 100%;
    background: var(--pico-h5-color);
    opacity: 0.09;
    z-index: -1;
    transition: width 0.3s ease-in-out, opacity 0.1s ease-in-out;
    border-radius: 1rem;
  }
}

.dimensionHeader {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  color: var(--pico-h5-color);
  margin-bottom: 1rem;

  > div:first-of-type {
    font-weight: 600;
    color: var(--pico-color);
  }
}

.dimensionTable {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: calc(var(--count) * (2.1rem + 0.2rem));
}

.showMore {
  all: unset;
  cursor: pointer;
  color: var(--pico-contrast);
  margin-top: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  transition: opacity 0.15s ease-in-out;
  opacity: 0.6;
  user-select: none;

  &:hover {
    opacity: 1;
  }
}

.showMoreHidden {
  opacity: 0;
  pointer-events: none;
}

.dimensionRow {
  height: 2.1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0.2rem;
}

.external {
  display: flex;
  align-items: center;
}

.dimensionEmpty {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  opacity: 0.6;
}

.detailsModal.detailsModal {
  max-width: 35em;
}
