.metrics {
  position: relative;
  z-index: 1;
  display: flex;
  gap: 0.7rem;
  margin-bottom: -0.4rem;

  @media (max-width: 820px) {
    flex-wrap: wrap;

    button.metric {
      width: calc(50% - 0.4rem);
    }
  }
}

button.metric {
  min-width: 7rem;
  font-size: 0.8rem;

  h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
    display: inline-flex;
    gap: 1rem;
    align-items: center;
    color: var(--pico-h5-color);
  }

  h2 {
    color: var(--pico-h4-color);
    margin: 0;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.3rem;
  }

  span.change {
    font-size: 0.8rem;
    font-weight: 500;
  }

  &[data-active="true"] {
    h2,
    h2,
    h3 {
      color: var(--pico-h1-color);
    }
  }
}
