.container {
  display: flex;
  gap: 0.2rem;

  button {
    display: flex;
    background: transparent;
    opacity: 0.6;
    border: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: var(--pico-card-background-color);
      color: var(--pico-h1-background-color);
    }
  }
}

details.selectRange {
  min-width: 10rem;
  max-width: 15rem;
  line-height: 1;

  button {
    all: unset;
    cursor: pointer;
  }

  .selected {
    font-weight: 700;
    color: var(--pico-h1-color);
    text-decoration: underline;
  }

  summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    --pico-form-element-spacing-vertical: 0.5rem;
    --pico-form-element-spacing-horizontal: 0.6rem;
  }
}

article.rangeDialog {
  width: unset;
}
