---
import "@explodingcamera/css/all.css";
import "@picocss/pico/css/pico.blue.min.css";
import { ViewTransitions } from "astro:transitions";

type Props = { title: string };
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <ViewTransitions />
    <title>{Astro.props.title}</title>
  </head>
  <body>
    <slot />
    <style>
      main {
        min-height: 100%;
      }
    </style>
  </body>
</html>
