---
import "@explodingcamera/css/all.css";
import "@picocss/pico/css/pico.lime.min.css";
import "@fontsource-variable/figtree";
import "../global.css";

import { ViewTransitions } from "astro:transitions";
import { SiGithub } from "@icons-pack/react-simple-icons";

type Props = { title: string };
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <ViewTransitions />
    <title>{Astro.props.title}</title>
  </head>
  <body>
    <slot />
    <footer class="container-fluid footer">
      <small>
        Powered by&nbsp;
        <a
          href="https://github.com/explodingcamera/liwan"
          target="_blank"
          class="secondary icon-link"
        >
          <SiGithub size="1rem" />
          <span>Liwan</span>
        </a>
      </small>
      <style>
        footer {
          max-width: 60rem;
          padding: 1rem 2rem;
          small {
            display: flex;
            align-items: center;
            gap: 0.2rem;
          }

          a.icon-link {
            text-decoration: none;
            span {
              text-decoration: underline;
            }
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 0.2rem;
          }
        }
      </style>
    </footer>
  </body>
</html>
