.container {
  display: flex;
  gap: 0.2rem;

  .stepButton {
    display: flex;
    background: transparent;
    opacity: 0.6;
    border: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--pico-contrast);
    transition:
      background-color 0.1s,
      opacity 0.1s;

    &:hover {
      background-color: var(--pico-dropdown-hover-background-color);
      opacity: 1;
    }
  }

  ul {
    li {
      padding: 0;

      button {
        box-sizing: border-box;
        width: 100%;
        padding: 0.3rem var(--pico-form-element-spacing-horizontal);
        border-radius: calc(var(--pico-border-radius) - 0.35rem);
        color: var(--pico-color);
        font-size: 0.875rem;
        line-height: 1.25;
      }
    }
  }
}

details.selectRange {
  min-width: 11rem;
  max-width: 16rem;
  line-height: 1;

  button {
    all: unset;
    cursor: pointer;
  }

  .selected {
    background: var(--pico-dropdown-hover-background-color);
    color: var(--pico-primary-hover);
    font-weight: 600;
  }

  summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    --pico-form-element-spacing-vertical: 0.5rem;
    --pico-form-element-spacing-horizontal: 0.6rem;
  }
}

article.rangeDialog {
  width: unset;
}
