.error {
  position: absolute;
  color: rgb(255, 85, 85);
  width: 100%;
  text-align: center;
  top: -0.5rem;
  right: 0;
  transform: translateY(-100%);
}

.new {
  padding: 0.4rem 0.5rem;
  height: fit-content;
}

.danger {
  --pico-background-color: var(--pico-del-color);
  --pico-border-color: var(--pico-del-color);
  box-shadow: none;

  &:hover {
    --pico-background-color: var(--pico-del-color);
    --pico-border-color: var(--pico-del-color);
    box-shadow: none;
  }
}
