@import "@explodingcamera/css/all.css" layer(base);
@import "@picocss/pico/css/pico.lime.min.css" layer(pico);
@import "react-tooltip/dist/react-tooltip.css" layer(tooltip);

:root {
  --pico-background-color: #f7f8ff;
  --card-background-base: 0deg 0% 100%;
  --card-background: hsl(var(--card-background-base));
  --pico-card-box-shadow: 0px 0px 24px #15233610;
}

:root[data-theme="dark"] {
  --pico-background-color: #0a0c10;
  --card-background-base: 218.8 23.9% 13.9%;
  /* --pico-card-box-shadow: 0 0 0.5rem 0.1rem hsla(0, 0%, 0%, 0.1); */
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --pico-background-color: #0a0c10;
    --card-background-base: 218.8 23.9% 13.9%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --pico-font-weight: 600;
}

.full {
  min-height: 100%;
}
/* 
body {
  --bg-gradient-color: oklab(0.51 -0.1 0 / 0.1);
  background: linear-gradient(215deg, var(--bg-gradient-color), transparent 50%),
    radial-gradient(var(--bg-gradient-color), transparent 40%) no-repeat -60vw -40vh /90vw
      300vh;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  --pico-font-family: "Figtree Variable", system-ui, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif,
    var(--pico-font-family-emoji);
}

:root {
  --pico-border-radius: 0.7rem;
  --pico-spacing: 0.75rem;
  --pico-form-element-spacing-vertical: 0.5rem;
  --pico-form-element-spacing-horizontal: 0.6rem;
}

article {
  border-radius: 1rem;
}

html body[data-scroll-locked] {
  margin-right: 0 !important;
}

[type="search"] {
  --pico-border-radius: 0.7rem;
}
