@import "@explodingcamera/css/all.css" layer(base);
@import "@picocss/pico/css/pico.lime.min.css" layer(pico);

.full {
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --pico-font-family: "Figtree Variable", system-ui, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif,
    var(--pico-font-family-emoji);
}

:root {
  --pico-border-radius: 0.7rem;
  --pico-spacing: 0.75rem;
  --pico-form-element-spacing-vertical: 0.5rem;
  --pico-form-element-spacing-horizontal: 0.6rem;
}

article {
  border-radius: 1rem;
}
