.info {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project {
  position: relative;

  .graph {
    padding: 0;
    margin: 0;
    height: 14rem;
    margin: 0 -1rem;
  }

  .projectHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    --pico-card-background-color: var(--pico-form-element-border-color);
  }

  .stats,
  .graph {
    opacity: 1;
    transition: opacity 0.2s ease;
  }

  &[data-loading="true"] {
    .stats,
    .graph {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  .error {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  a {
    cursor: pointer;
  }
}
