.info {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project {
  position: relative;

  .stats,
  .graph {
    opacity: 1;
    transition: opacity 0.2s ease;
  }

  &[data-loading="true"] {
    .stats,
    .graph {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  .error {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.header {
  display: flex;
  justify-content: space-between;

  a {
    cursor: pointer;
  }
}

details.selectRange {
  width: 10rem;

  .selected {
    font-weight: 700;
    color: var(--pico-h1-color);
    text-decoration: underline;
  }

  summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    --pico-form-element-spacing-vertical: 0.5rem;
    --pico-form-element-spacing-horizontal: 0.6rem;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.statsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > a {
    padding: 1rem 0.2rem 1rem 1rem;
    opacity: 0.6;
    transition: opacity 0.2s ease;
  }

  > a:hover {
    opacity: 1;
  }

  @media (max-width: 768px) {
    > a {
      display: none;
    }
  }

  > div {
    flex: 1;
  }
}

.stats {
  align-items: center;
  > div {
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }
}

.statsHeader {
  font-size: 1rem;
  margin-bottom: 0.4rem;
  align-items: center;
  display: flex;

  a {
    all: unset;
    cursor: pointer;
  }

  > span.online {
    > svg {
      margin-right: 0.1rem;
    }

    .pulse {
      position: absolute;
      animation: pulse 2s infinite;
    }

    margin-left: 0.5rem;
    display: inline-flex;
    gap: 0.2rem;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 500;
  }
}

.graph {
  height: 12rem;
  margin-top: -0.5rem;
  margin-left: -1.9rem;
  margin-right: -2rem;
  margin-bottom: 3rem;
}

button.stat {
  all: unset;
  cursor: pointer;
  margin: 0;
  font-size: 0.8rem;
  min-width: 7.5rem;

  &[data-active="true"] {
    h2 {
      text-decoration: underline;
      font-weight: 500;
    }
    h2,
    h3 {
      color: var(--pico-h1-color);
    }
  }

  h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 1rem;

    display: inline-flex;
    gap: 1rem;
    align-items: center;
  }

  h2 {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
  }

  span.change {
    font-size: 0.8rem;
    font-weight: 500;
  }
}
