.full {
  width: 100%;
}

.nowrap {
  white-space: nowrap;
}

.container {
  overflow-x: auto;
}

.table {
  th {
    div.icon {
      display: inline-flex;
      align-items: center;
      gap: 0.2rem;
    }
  }
}
