---
import { MoonIcon, SunIcon } from "lucide-react";
---

<button id="theme-switcher">
  <SunIcon className="sun" />
  <MoonIcon className="moon" />
</button>

<style>
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  button {
    all: initial;
    cursor: pointer;
    padding: 1rem;
    color: var(--pico-contrast-background);
    transition: color 0.4s;
  }

  .moon {
    display: none;
  }

  @media (prefers-color-scheme: dark) {
    .sun {
      display: none;
    }
    .moon {
      display: block;
    }
  }
</style>

<script>
  let theme = window.localStorage?.getItem("theme") ?? "auto";
  let prefers = window.matchMedia("(prefers-color-scheme: dark)").matches
    ? "dark"
    : "light";
  if (theme === "auto") theme = prefers;

  if (theme !== prefers) {
    document.querySelector("html")?.setAttribute("data-theme", theme);
  }

  const setTheme = (theme: string) => {
    document.querySelector("html")?.setAttribute("data-theme", theme);
    window.localStorage?.setItem("theme", theme === prefers ? "auto" : theme);
  };

  const init = () => {
    const button = document.querySelector(
      "#theme-switcher"
    ) as HTMLButtonElement;
    const sun = document.querySelector(
      "#theme-switcher .sun"
    ) as HTMLElement | null;
    const moon = document.querySelector(
      "#theme-switcher .moon"
    ) as HTMLElement | null;
    if (!sun || !moon) return;

    if (theme === "dark") {
      sun.style.display = "none";
      moon.style.display = "block";
    } else {
      sun.style.display = "block";
      moon.style.display = "none";
    }

    button.addEventListener("click", () => {
      if (theme === "dark") {
        setTheme("light");
        sun.style.display = "block";
        moon.style.display = "none";
        theme = "light";
      } else {
        setTheme("dark");
        sun.style.display = "none";
        moon.style.display = "block";
        theme = "dark";
      }
    });
  };

  document.addEventListener("astro:page-load", init);
  document.addEventListener("astro:after-swap", () =>
    document.querySelector("html")?.setAttribute("data-theme", theme)
  );
</script>
