name: Release

on:
  push:
    tags:
      - liwan-v[0-9]+.*

jobs:
  create-release:
    permissions:
      contents: write
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: taiki-e/create-gh-release-action@26b80501670402f1999aff4b934e1574ef2d3705 # @v1.9.1
        with:
          changelog: CHANGELOG.md
          allow-missing-changelog: true
          draft: false # has to be public to have the right url's for the docker image
          prefix: liwan
          token: ${{ secrets.GITHUB_TOKEN }}

  build-web:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # @v2
        with:
          bun-version: latest
          no-cache: true
      - name: Build web project
        run: |
          bun install
          bun run build
        working-directory: ./web
      - name: Upload web assets
        uses: actions/upload-artifact@v5
        with:
          name: web-dist
          path: ./web/dist

  upload-assets:
    permissions:
      contents: write
    needs: [create-release, build-web]
    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-musl
            os: ubuntu-24.04
            build-tool: cargo-zigbuild
          - target: aarch64-unknown-linux-musl
            os: ubuntu-24.04
            build-tool: cargo-zigbuild
          - target: aarch64-apple-darwin
            os: macos-latest
            build-tool: cargo

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions/download-artifact@v6
        with:
          name: web-dist
          path: ./web/dist
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # @v1.15.2
        with:
          cache: false
      - uses: taiki-e/upload-rust-binary-action@3962470d6e7f1993108411bc3f75a135ec67fc8c # @v1.27.0
        with:
          bin: liwan
          target: ${{ matrix.target }}
          build-tool: ${{ matrix.build-tool }}
          token: ${{ secrets.GITHUB_TOKEN }}

  publish-container:
    permissions:
      packages: write
      contents: read
    needs: [create-release, upload-assets]
    uses: explodingcamera/liwan/.github/workflows/container.yaml@main
    with:
      tag: ${{ github.ref_name }}
