name: Run tests

on:
  pull_request:
    paths:
      - "**/*.rs"
      - "Cargo.lock"
  push:
    paths:
      - "**/*.rs"
      - "Cargo.lock"
  workflow_dispatch:

jobs:
  test:
    permissions:
      contents: read
    strategy:
      matrix:
        os:
          - ubuntu-24.04
          - macos-latest
    name: Run tests on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # @v1.15.2
        with:
          components: clippy, rustfmt
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # @v2.8.2
      - run: mkdir ./web/dist
      - name: Run tests
        run: cargo test --all --all-features
      - name: Run clippy
        run: cargo clippy --all-features -- -W warnings
      - name: Run fmt
        run: cargo fmt --all -- --check
        continue-on-error: true
