name: Run tests (web)

on:
  pull_request:
    paths:
      - "**/*.ts"
      - "**/*.tsx"
      - "web/bun.lock"
  push:
    paths:
      - "**/*.ts"
      - "**/*.tsx"
      - "web/bun.lock"
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # @v2
        with:
          bun-version: latest
      - name: Build web project
        run: |
          bun install
          bun run build
        working-directory: ./web
      - name: Run tests
        run: bun test
        working-directory: ./web
      - name: Run typecheck
        run: bun typecheck
        working-directory: ./web
